@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff9f1;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;

  position: fixed;
  top: 20px;
  width: 100%;
}
.main-container {
  background-image: linear-gradient(
      rgba(30, 30, 30, 0.329),
      rgba(0, 0, 0, 0.342)
    ),
    url(images/coffee_image.png);
  min-height: 100vh;
  justify-content: start;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro {
  width: 45%;
  margin-left: 80px;
}
.intro h1 {
  color: aliceblue;
  font-family: "Clicker Script", cursive;
  font-size: 150px;
  font-weight: 400;
}
.intro h2 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 15px;
}
.intro p {
  font-family: "Playfair Display", serif;
  font-weight: 300 !important;
  font-size: 15px;
  line-height: 24px;
}
.intro button,
.details button,
.order-but button,
.foot-diff button,
.text-overlay button {
  width: 100px;
  height: 40px;
  background-color: #f9c06a;
  border-radius: 24px;
  color: #000000;
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 700;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}
nav h1 {
  font-family: "Clicker Script", cursive;
  color: aliceblue;
  font-weight: 600;
  font-size: 35px;
}
nav ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: "Playfair Display", serif;
}
.login-register a {
  font-family: "Playfair Display", serif;
  color: aliceblue;
  font-size: 14px;
}
.login-register {
  gap: 30px;
  display: flex;
  align-items: center;
}
.login-register button {
  background: #f9c06a;
  font-family: "Playfair Display", serif;
  color: white;
  width: 100px;
  height: 48px;
  border: none;
  border-radius: 40px;
}
.nd-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nd-container h1 {
  color: #603809;
  font-family: "Playfair Display", serif;
}
.nd-container p {
  color: #000000;
  font-family: "Playfair Display", serif;
}
.details,
.image-coffee {
  width: 45%;
}
.details h1 {
  font-weight: bold;
  font-size: 40px;
}
.details p {
  color: #707070;
  font-weight: 400;
  font-size: 18px;
}
.image-coffee {
  display: flex;
  justify-content: end;
}
.blast img {
  position: absolute;
  top: 920px;
}
.order-products {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 2fr)
  ); /* adjust 200px as needed */
  gap: 20px; /* space between grid items */
  text-align: center;
}
.different {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  gap: 20px;
  text-align: center;
}
.order-products h1,
.order-products p,
.order-products h2,
.different h1 {
  color: #603809;
  font-family: "Playfair Display", serif;
}
.order-products p {
  color: #000000;
  font-size: 15px;
}
.order-products h1 {
  font-size: 22px;
}
.groups img {
  width: 220px;
  transition: 0.3s ease-in;
}
.groups img:hover {
  scale: 1.05;
  transform: translate(1.05);
}
.groups {
  background-color: #fff9f1;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding-bottom: 10px;
}
.group-two {
  background-color: #fff9f1;
  border: 1px solid #f9c06a6b;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  height: 284px;
  justify-content: center;
  transition: 0.3s background-color ease-in;
}
.group-two:hover {
  background-color: #ffeed8;
  border: 1px solid #60370971;
}
.main-orderproducts {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 100px;
}
.text-order p {
  color: #707070;
  font-family: "Playfair Display", serif;
  text-align: center;
}
.text-order h2 {
  color: #603809;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}
.main-diff {
  display: flex;
  gap: 50px;
  flex-direction: column;
  padding: 0 100px;
}
.different p,
.foot-diff p {
  color: #707070;
  font-family: "Playfair Display", serif;
  font-size: 16px;
}
.different h1 {
  font-size: 24px;
}
.foot-diff {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.foot-diff h2 {
  font-size: 25px;
  color: #603809;
  font-family: "Playfair Display", serif;
}
.overlay {
  background-image: linear-gradient(
      rgba(187, 111, 25, 0.575),
      rgba(187, 111, 25, 0.589)
    ),
    url(images/Rectangle\ 14.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-height: 600px;
}
.image-of-coffee {
  position: relative;
}
.bean img {
  position: absolute;
  top: -25px;
  right: -134px;
}
.cup img {
  position: relative;
  z-index: 99;
}
.testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 90vh;
}
.testimonial-box {
  text-align: center;
  width: 60%;
  border: 1px solid #f9c06a6b;
  display: flex;
  gap: 30px;
  flex-direction: column;
  padding: 0 25px;
  background-color: #f9c06a31;
}
.div-tes {
  padding: 0 25px;
  display:flex;
  flex-direction: column;
  gap:15px;
  
}
.div-tes blockquote {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  font-size: 15px;
  color: #707070;
}
.div-tes h1 {
  color: #603809;
  font-size: 24px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}
.div-tes h3 {
  font-family: "Playfair Display", serif;
  font-weight:400;
  color: #707070;
  font-size: 16px;
}
.items-tes{
  display: flex;
  gap:15px;
  flex-direction: column;
}
.icon-qoute {
  display: flex;
  align-items: start;
}
.fa-quote-left {
  font-size: 55px;
  color: #603809;
}
.overlay-for-footer{
    background-image: linear-gradient(
      rgba(187, 111, 25, 0.575),
      rgba(187, 111, 25, 0.589)
    ),
    url(images/Rectangle\ 14\ \(1\).png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 374px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.overlay-for-footer h1{
  font-size:50px;   
    font-weight: 700;
  font-family: "Playfair Display", serif;
}
.overlay-for-footer p{
  font-family: "Playfair Display", serif;
     font-weight: 400;
     font-size:20px;
}
.subs-button{
  display:flex;
  gap:0px;

}
.subs-button #btn-sub{
  background-color: #F9C06A;
  width: 137px;
  font-size:18px;
  font-weight: 700;
  border: none;
  height: 66px;
  color: #603809;
  font-family: "Playfair Display", serif;
}
.subs-button ,#input-text{
  padding:10px;
  width:642px;
  height: 66px;
  outline: none;
}

.subs-button ,#input-text::placeholder{
  color:#00000057;
  font-size: 18px;
  font-family: "Playfair Display", serif;
}
footer{
     background-image: linear-gradient(
      rgba(97, 57, 11, 0.952),
      rgba(126, 71, 9, 0.753)
    ),
    url(images/fotter_image.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height:500px;
  display: flex;
  justify-content:space-between;
  gap:70px;
  padding:0 70px;
  align-items: center;
  flex:1 1 20%;
  
}
.logo-and-text {
  display: flex;
  flex-direction: column;
  gap:20px;
}
.logo-and-text h1{
   font-family: "Clicker Script", cursive;
  color: aliceblue;
  font-weight: 300;
  font-size:55px;
}
.logo-and-text p {
  font-family: "Playfair Display", serif;
  font-weight: 300;
}
.footer-brand{
  width:45%;
  display: flex;
  flex-direction: column;
  gap:20px;
}
.social-media{
  font-size:20px;
  display: flex;
  flex-direction: row;
  gap:15px;
}
.list-of-text{
  display: flex;
  flex-direction: column;
  gap:40px;
}
.list-of-text h1{
  font-family: "Playfair Display", serif;
}
.list-of-text ul{
   display: flex;
  flex-direction: column;
  gap:15px;
}
.list-of-text ul li a{
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-weight: 400;

  
}
.list-of-text ul li {
  list-style: none;
  font-family: "Playfair Display", serif;
}
.sidebar{
  position:fixed;
  top:0;
  right:0;
  height: 100vh;
  width:250px;
  background-color:rgba(83, 77, 77, 0.445);
  display: none;
  flex-direction: column;
  justify-content:space-evenly;
  align-items:center;
  z-index: 999;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.096);
  backdrop-filter:blur(10px);
 
}
.sidebar ul{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.sidebar ul li {
   width:100%;
}
.sidebar .login-register{
  display: flex;
  flex-direction:column;
}
#bara{
  display:none;
}
@media(max-width: 800px){
  .main-navbars .logoname,.main-navbars .menu,.main-navbars .login-register{
    display: none;
  }
  #bara{
    display:flex;
    font-size:25px;
    text-align: right;
  }
}
@media(max-width: 500px){
  .sidebar{
    width: 100%;
  }
  #bara{
    display:flex;
  }
  .overlay {

  display: flex;
  flex-direction: column;

  }
  .bean img{
    top:-50px;
    right: -100px;;
    width:350px;
  }
  .subs-button, #input-text{
    width:300px;
  }
  .cup img{
    width:200px;
  }
  footer{


  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  
}
.footer-brand{
  width:100%;
}
.nd-container {

  flex-direction: column-reverse;
}
.nd-container img{
  width:250px;
}
.blast img{
  display: none;
}
.nd-container h1 {
  font-size:25px;
  text-align: center;
}
.nd-container p {

  
  font-size:15px;
  text-align: center;
}
.details, .image-coffee{
  width:80%;
}
.main-container {
  min-height: 70vh;
}
.intro {
  width: 100%;
  margin-left: 0px;
  text-align: center;
  padding:40px;
}
.intro h1 {

  font-size: 100px;

}
.intro h2 {

  font-size: 13px;
}
.intro p {

  font-size: 10px;
 
}
}